.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem 1.5rem;
    align-items: center;

    img {
        background: white;
        border: 1px solid var(--red-theme);
        box-shadow: 2px 2px 8px 2px  rgba(0,0,0,0.5);
        max-width: 100%;
        transition: transform 0.2s ease-in;
    }
} 

@media screen and (max-width: 360px) {
    .gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (min-width: 820px){
    .gallery-grid {
        img:hover {
        transform: scale(1.4);
        }
    }
}

@media screen and (min-width: 1300px) {
    .gallery-grid {
        padding: 0 8em;

        img:hover {
            transform: scale(1.8);
            }
    }
}