.site {
    background: #EEEEEE;
}

.site-content {
    padding: 2rem;
    padding-top: 10rem;
    display: block;
    margin: 0 auto;
}

.post-img {
    width: 100%;
}

.center-header {
    text-align: center;

    &::after {
        display: block;
        width: 5rem;
        height: 0.15rem;
        content: '';
        background: var(--red-theme);
        margin: 1rem auto;
    }
}

@media screen and (min-width: 640px) {
    .site-content {
        padding: var(--spacing-site, 4rem);
        padding-top: 13rem;
    }
}
