.site-header {
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100vw;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.site-branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #24272D ;
    color: rgb(236, 236, 236);
    box-shadow: 0px 0px 8px 2px rgba(10, 132, 255,1);
}

.site-title {
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    padding: var(--spacing-header);
    border-bottom: 1px solid #000;
    box-shadow: 0px 8px 5px -5px rgba(10, 132, 255,0.75);
    text-shadow: 0 0 10px rgba(10, 132, 255,1);
}

p.site-description  {
    font-style: italic;
    padding: var(--spacing-header);
}
