.site-footer {
    display: block;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: #24272D;

    p{
        padding: 1.2rem 0;

        a{
            color: var(--red-theme);
            text-decoration: none;
        }

        a:before {
            padding-right: 0.3rem;
        }
    }
}

@media screen and (max-width: 460px) {
    .site-footer p {
        padding: 2rem;
    }
}