table.ex-table {
    justify-content: center;
    margin: 1.5rem auto 1rem auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.5rem 0;

    td, th {
        padding: 0.7rem 0;
        text-align: center;
        
    }
    .t-header{
        background: #333333;
        font-weight: bold;
        color: white;
        border: 2px solid var(--red-theme);
    }

    td {
        background: #fff;
        border: 1px solid var(--red-theme);
        border-top: none;
    }
}


@media screen and (min-width:1024px) {
    table.ex-table {
        width: 75%;
    }
}