:root {
    --font-size-initial: 14px;
    --font-size-lv1: 15px;
    --font-size-lv2: 15px;
    --font-size-lv3: 16px;
    --font-size-lv4: 16px;
    --font-size-lv5: 17px;
    --font-size-lv6: 18px;

    --spacing-site: 6em;
    --spacing-header: 0.4rem;

    --red-theme: #D03E3E;
}