<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <title>{{ site.title }}</title>
</head>
<body>
    <div class="site">
        <input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
        <header class="site-header">
                <label id="nav-toggle" for="nav-main-toggle" class="fas"><span>Menu</span></label>
            <div class="site-branding">
                <p class="site-title">{{ site.title }}</p>
                <p class="site-description">{{ site.description }}</p>
            </div>
            <nav class="navigation main">
                <ul>
                    <li><a class="fas fa-dumbbell" href="{{ site.baseurl }}/">Blog</a></li>
                    <li><a class="fas fa-images" href="{{ site.baseurl }}/gallery/">Gallery</a></li>
                    <li><a class="fas fa-angle-double-right" href="{{ site.baseurl }}/quotes/">Quotes</a></li>
                    <li><a class="fas fa-info-circle" href="{{ site.baseurl }}/about/">About</a></li>
                    <li><a class="fas fa-address-book" href="{{ site.baseurl }}/contacts/">Contact us</a></li>
                </ul>
            </nav>
        </header>
        <main class="site-content">

                {{ content }}

        </main>
        <footer class="site-footer">
            <p>© All Rights Reserved by <a class="fab fa-github" href="https://github.com/MiroMutti">Miro Mutti</a></p>
        </footer>
    </div>
</body>
</html>